@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

  .delete-icon {
    color: white;
    cursor: pointer;
  }

  .add-icon {
    color: #064e3b;
    cursor: pointer;
  }
}
